@{
    ViewData["Title"] = "التوصيل";
    ViewData["ActivePage"] = "Delivery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>إدارة التوصيل</h1>
<p>هنا تقدر تتابع عمليات التوصيل الجارية والمكتملة.</p>
