
<footer class="footer">
    <div class="footer-container">
        <div>سياسة الخصوصية</div>
        <div>الشروط والأحكام</div>

        <div class="footer-contact">
            <p>الشكاوي والاقتراحات</p>
            <form class="footer-form">
                <input type="text" placeholder="اكتب رسالتك..." />
                <button>
                    ارسال
                    <span class="material-symbols-outlined"> check </span>
                </button>
            </form>
        </div>

        <div>
            <p>تواصل معنا</p>
            <div class="footer-social">
                <a href="https://www.facebook.com/share/17EqBx9U7T/" target="_blank" class="text-white">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.facebook.com/share/17EqBx9U7T/" target="_blank" class="text-white">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/share/17EqBx9U7T/" target="_blank" class="text-white">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/share/17EqBx9U7T/" target="_blank" class="text-white">
                    <i class="fa-solid fa-globe"></i>
                </a>
              
            </div>
        </div>
    </div>

    <p class="copy-rights">جميع الحقوق محفوظة لمنصة FeedBridge</p>
</footer>
