@{
    ViewData["Title"] = "تم الدفع بنجاح";
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/css/main.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="confirm-container">
        <span class="material-symbols-outlined check-icon"> check_circle </span>
        <h2>تـــم الدفــع بنجاح</h2>
        <p>شكرا لك على دعمك لنا و لمساعدتنا في تقديم المساعده للناس</p>
        <a href="~/Home/Index" class="btn">العوده للرئيسيه</a>
    </div>
</body>
</html>
